<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TruePan_0_01 (AU).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>TruePan_0_01 (All).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TruePan_0_01 (Shared Code).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>TruePan_0_01 (VST).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TruePan_0_01 (VST3).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7FD0C9CE8FA65BBC24184996</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80ADFD311CFCACB8E78125DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>898B5ED8C9ADFCEFDFA6A11E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB73286CD0600808C766C344</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D597C08C8010FFC6F9F9095B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
